
.homepage-boxes {
    padding: 110px 0;
}

/*
# Opening Hours
--------------------------------*/
.opening-hours,
.emergency-box,
.appointment-box,
.contact-info {
    position: relative;
    padding: 32px;
    border-radius: 20px;
    border: 2px solid #dde4ea;
}

.opening-hours {
    border-color: #18a3eb;
}

.opening-hours h2,
.emergency-box h2,
.appointment-box h2,
.contact-info h2 {
    position: absolute;
    top: -24px;
    left: -2px;
    height: 48px;
    padding-right: 16px;
    background: #fff;

    font-size: 24px;
    font-weight: 600;
    color: #404040;
}

.opening-hours ul {
    list-style: none;
}

.opening-hours ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #828282;
}

.opening-hours ul li span {
    display: inline-block;
    margin-left: 5px;
}

/*
# Emergency
--------------------------------*/
.emergency-box {
    padding: 16px;
}

.emergency-box p {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 13px;
    font-style: italic;
    color: #828282;
}

.emergency-box .call-btn {
    max-width: 220px;
    margin: 24px auto !important;
}

/*
# Make an Appointment
--------------------------------*/
.appointment-box {
    padding: 16px;
}

.appointment-box form {
    margin-top: 24px;
}

.appointment-box form select,
.appointment-box form input[type="text"],
.appointment-box form input[type="number"] {
    display: block;
    width: calc(50% - 5px);
    padding: 12px 16px ;
    margin-bottom: 10px;
    border: 0;

    font-size: 12px;
    font-style: italic;
    color: #828282;
    background: #f0f4f8;
    outline: none;
}

.appointment-box form input[type="submit"] {
    margin-top: 16px;
}



/*
# Call Button
--------------------------------*/
.call-btn {
    min-width: 210px;
    padding: 8px 12px 6px !important;
    margin-left: 24px;
    margin-right: 0 !important;
}

.call-btn img {
    display: inline-block;
    margin-right: 12px;
}

.call-btn a {
    padding: 0 !important;
    font-size: 16px;
    font-weight: 600;
    color: #fff !important;
}


.button.gradient-bg {
    border-color: transparent;
    background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(88,125,228,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a3eb', endColorstr='#587de4',GradientType=1 ); /* ie6-9 */
    color: #fff;
}


@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
    }

    .site-navigation ul li a {
        padding: 30px 0;
    }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    color: #18a3eb;
}

input[type="text"] {
    width: 170px;
    border-radius: 8px;
    
}

input[type="date"] {
    width: 170px;
    border-radius: 8px;
}

.hehe {
    height: 35px;
    width: 170px;
    border-radius: 8px;
}